<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ClearList</title>

        <!--icon-->
        <link rel="icon" type="png" href="favicon.png" />

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <!-- svgs -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100..700,0,200" rel="stylesheet" />

        <!-- css -->
        <link rel="stylesheet" href="css/general.css">  <!--html, body and universal class-->
        <link rel="stylesheet" href="css/menu.css"> <!--handles settings and task adding-->
        <link rel="stylesheet" href="css/popup.css">    <!--handles popups-->
        <link rel="stylesheet" href="css/responsive.css"><!--all media queries-->   
        <link rel="stylesheet" href="css/tasks.css">    <!--task container-->
    </head>