@media (max-width: 1200px) {
    #all-tasks > form {
        justify-content: space-around;
        gap: 0;
    }
}

@media (max-width: 1100px) {
    #all-tasks > form > input, #all-tasks > div > input {
        max-width: 75%;
    }
}

@media (max-width: 650px) {
    #container {
        max-width: 66.66%;
        min-width: 33.33%;
    }

    #all-tasks > form > input, #all-tasks > div > input {
        max-width: 66.66%;
    }
}

@media (max-width: 350px) {
    #container {
        max-width: 75%;
        min-width: 50%;
    }

    #all-tasks > form > input, #all-tasks > div > input {
        max-width: 50%;
    }
}