<div id="delete-popup" class="popup">
    <div id="delete-permanent" class="popup-container">
        <p>
            Are you sure you want to Delete Permanently?
            <br/>
            <span class="warning">This can't be undone!</span>
        </p>
        <div>
            <button type="button" id="cancel-delete" class="cancel-popup">No</button>
            <button type="button" id="do-delete" class="use-popup">Yes</button>
        </div>
    </div>
</div>